<html lang="en">
<body>
  <ul class="cards">
    <li class="cards__item" >
      <div class="card" >
        <img [src]="Laravel[6]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Laravel[0]}}</div>
          <p class="card__text">
            {{ Laravel[1]}} => Create project           
          </p>
          <p class="card__text">
            {{ Laravel[2]}} => Create the MVC         
          </p>
          <p class="card__text">
            {{ Laravel[3]}} => See the routes     
          </p>
          <p class="card__text">
            {{ Laravel[4]}} => Create a link between the storage and the public folder     
          </p>
          <a class="btn btn--block card__btn" href="{{ Laravel[7]}} " target="_blank">Go to Laravel</a>
          
          
        </div>
      </div>
    </li>

    <li class="cards__item" >
      <div class="card" >
        <img [src]="Django[5]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Django[0]}}</div>
          <p class="card__text">
            {{ Django[1]}} => Install Django in python          
          </p>
          <p class="card__text">
            {{ Django[2]}} => Create the project en Django        
          </p>
          <p class="card__text">
            {{ Django[3]}} => lift django server   
          </p>
          <p class="card__text">
            {{ Django[4]}} => Create aplication    
          </p>
          <a class="btn btn--block card__btn" href="{{ Django[6]}} " target="_blank">Go to Django</a>
        </div>
      </div>
    </li>

    <li class="cards__item" >
      <div class="card" >
        <img [src]="Git[13]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Git[0]}}</div>
          <p class="card__text">
            {{ Git[1]}} => Repositorio local  <br>       
          
            {{ Git[2]}} => Clonar el repositorio  <br>     
          
            {{ Git[3]}} => Agregar archivos al repositorio <br> 
          
            {{ Git[4]}} => Muestra la lista de archivos modificados  <br>  
        
            {{ Git[5]}} => configuracion de usuario   <br> 
          
            {{ Git[6]}} => Guarda el cambio en el directorio  <br>  
         
            {{ Git[7]}} => Crea ramas  <br>  
         
            {{ Git[8]}} => CreCrea nuevas ramas  <br>  
         
            {{ Git[9]}} => Fusiona una rama con otra rama   <br> 
          
            {{ Git[10]}} => Envia confirmaciones a la rama    <br>  
          
            {{ Git[11]}} => Fusiona todos los cambios realizados   <br>  
          
            {{ Git[12]}} => Permite ver repositorios remotos    <br>  
          </p>

          <a class="btn btn--block card__btn" href="{{ Git[14]}} " target="_blank">Go to Git</a>
        </div>
      </div>
    </li>

    <li class="cards__item" >
      <div class="card" >
        <img [src]="Windows[8]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Windows[0]}}</div>
          <p class="card__text">
            {{ Windows[1]}} => Connection list         
          </p>
          <p class="card__text">
            {{ Windows[2]}} => Block computer       
          </p>
          <p class="card__text">
            {{ Windows[3]}} => Enter file explorer  
          </p>
          <p class="card__text">
            {{ Windows[4]}} => Run an application  
          </p>
          <p class="card__text">
            {{ Windows[5]}} => Search for open windows for easy access 
          </p>
          <p class="card__text">
            {{ Windows[6]}} => Generate desktops   
          </p>
          <p class="card__text">
            {{ Windows[7]}} => Open task manager   
          </p>
          <a class="btn btn--block card__btn" href="{{ Windows[9]}} " target="_blank">Go to Windows</a>
        </div>
      </div>
    </li>

    
    
   
    
   
   
   
   
    <li class="cards__item" >
      <div class="card" >
        <img [src]="Linux[9]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Linux[0]}}</div>
          <p class="card__text">
            {{ Linux[1]}}    => Browse by file         
          </p>
          <p class="card__text">
            {{ Linux[2]}}    => View the contents of a file       
          </p>
          <p class="card__text">
            {{ Linux[3]}}    => Copy files  
          </p>
          <p class="card__text">
            {{ Linux[4]}}    => move files   
          </p>
          <p class="card__text">
            {{ Linux[5]}}    => Create directory  
          </p>
          <p class="card__text">
            {{ Linux[6]}}    => Sign in as an administratoR for execute aplication 
          </p>
          <p class="card__text">
            {{ Linux[7]}}    => Change permissions    
          </p>
          <p class="card__text">
            {{ Linux[8]}}    => Internet connectivity   
          </p>
          <a class="btn btn--block card__btn" href="{{ Linux[10]}} " target="_blank">Go to Linux</a>
        </div>
      </div>
    </li>

    
    
    
    <li class="cards__item" >
      <div class="card" >
        <img [src]="Node[4]"width="100">
        <div class="card__content">
          <div class="card__title">{{ Node[0]}}</div>
          <p class="card__text">
            {{ Node[1]}} => To create a package.json file         
          </p>
          <p class="card__text">
            {{ Node[2]}} => Create http web server without express       
          </p>
          <p class="card__text">
            {{ Node[3]}} => Create http web server with express  
          </p>
          <a class="btn btn--block card__btn" href="{{ Node[5]}} " target="_blank">Go to Node</a>
        </div>
      </div>
    </li>


    <li class="cards__item" >
      <div class="card" >
        <img [src]="Python[9]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Python[0]}}</div>
          <p class="card__text">
            {{ Python[1]}} => Graph generator         
          </p>
          <p class="card__text">
            {{ Python[2]}} => Science computing      
          </p>
          <p class="card__text">
            {{ Python[3]}} => Use of 3d and 2d data   
          </p>
          <p class="card__text">
            {{ Python[4]}} => Algorithms reduces compilation time  
          </p>
          <p class="card__text">
            {{ Python[5]}} => Use smart quina for logistic regression   
          </p>
          <p class="card__text">
            {{ Python[6]}} => Machine learning   
          </p>
          <p class="card__text">
            {{ Python[7]}} => For use of neural networks   
          </p>
          <p class="card__text">
            {{ Python[8]}} => Use of natural language    
          </p>
          <a class="btn btn--block card__btn" href="{{ Python[10]}} " target="_blank">Go to Python</a>
        </div>
      </div>
    </li>

    
    
    
    
    
    
    
    <li class="cards__item" >
      <div class="card" >
        <img [src]="Angular[8]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Angular[0]}}</div>
          <p class="card__text">
            {{ Angular[1]}} => Install angular CLI         
          </p>
          <p class="card__text">
            {{ Angular[2]}} => Create project angular       
          </p>
          <p class="card__text">
            {{ Angular[3]}} => Run Server   
          </p>
          <p class="card__text">
            {{ Angular[4]}} => Create a new component   
          </p>
          <p class="card__text">
            {{ Angular[5]}} => Create a build   
          </p>
          <p class="card__text">
            {{ Angular[6]}} => Run test cases    
          </p>
          <p class="card__text">
            {{ Angular[7]}} => Create a class   
          </p>
          <a class="btn btn--block card__btn" href="{{ Angular[9]}} " target="_blank">Go to Angular</a>
        </div>
      </div>
    </li>

    
    
    
    <li class="cards__item" >
      <div class="card" >
        <img [src]="Vuej[4]" width="100">
        <div class="card__content">
          <div class="card__title">{{ Vuej[0]}}</div>
          <p class="card__text">
            {{ Vuej[1]}} => Install vuej.js        
          </p>
          <p class="card__text">
            {{ Vuej[2]}} ======> Create project vuej js      
          </p>
          <p class="card__text">
            {{ Vuej[3]}} => Run Server  
          </p>
          <a class="btn btn--block card__btn" href="{{ Vuej[5]}} " target="_blank">Go to Vuej js</a>
        </div>
      </div>
    </li>
 
  </ul>
  
</body>
</html>

  